.arena {
    top: 50px;
    left: 50px;
    width: 800px;
    height: 800px;
    /* border: 1px solid rgb(241, 192, 192); */
    text-align: left;
    position: absolute;
    padding-left: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: none;
}

.letter {
    width: 30px;
    height: 30px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid blue;
    background: blue;
    position: absolute;
}

.ship {
    width: 0px;
    height: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid blue;
    position: absolute;
}

.beam {
    width: 5px;
    height: 20px;
    background: yellow;
    position: absolute;
}
.asteroid {
    width: 50px;
    height: 50px;
    font-size: medium;
    color: black;
    background: red;
    position: absolute;
}
.bonus {
    padding: 5px 5px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    background: green;
    position: absolute;
    animation: Spin infinite 5s linear;
}
.evil {
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    border: 1px solid red;
    animation: Spin infinite 1s linear;
}
@keyframes Spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}