/* Header */
.custom {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(213, 213, 213);
  }
  
.custom .back-arrow {
    font-size: 1.3em;
    margin: 2px;
    float: left;
    color: black;
}

.custom img {
    width: 26px;
    height: 35px;
}

/* ******************** */

/* Navigation */
.custom-navigation {
    font-size: 15rem;
    width: 100%;
}

/* ******************** */

/* Modals */


.custom-edit-word {
    margin-right: 10px;
}