/* Header */

.profile-page-header {
    height: 20px;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.profile-page-header .header-back-arrow {
    float: left;
}

/* ******************* */

/* Google Profile */
.google-profile {
    text-align: left;
}

.google-profile h3 {
    font-weight: normal;
}

.google-profile figure {
    margin: 20px;
    float: left;

    width: 140px;
    height: 140px;
}

.google-profile img {
    border-radius: 50%;
}

.google-profile figcaption {
    cursor: pointer;
}
/* ******************* */

/* Achievements */
.achievements {
    clear: both;
}

.achievements h1 {
    font-size: 120px;
    font-weight: normal;
    color: rgb(236, 236, 236);
    z-index: -1;
    margin: 10px;
    opacity: 0.7;
}

.achievements .list {
    text-align: left;
    font-weight: bold;
    position: relative;
    bottom: 100px;
    margin: 15px;
    font-size: 1.5em;
}

/* ******************* */

/* STATISTICS */
.statistics h1 {
    font-size: 120px;
    font-weight: normal;
    color: rgb(236, 236, 236);
    z-index: -1;
    margin: 10px;
    opacity: 0.7;
}

.statistics .list {
    text-align: left;
    font-weight: bold;
    position: relative;
    padding: 0px;
    bottom: 100px;
    margin: 10px;
    list-style-type: none;
    font-size: 1.5em;
}

.statistics .list .item {
    margin-right: 70px;
    display: inline;
}

/* ******************* */

/* SKILLS */
.skills {

}

.skills h1 {
    font-size: 120px;
    font-weight: normal;
    color: rgb(236, 236, 236);
    z-index: -1;
    margin: 10px;
    opacity: 0.7;
}

.skills .list {
    text-align: left;
    font-weight: bold;
    position: relative;
    padding: 0px;
    bottom: 100px;
    margin: 10px;
    list-style-type: none;
    font-size: 1.5em;
}