/* Header */
.game {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(213, 213, 213);
}

.game .back-arrow {
    font-size: 1.3em;
    margin: 2px;
    float: left;
    color: black;
}

.game img {
    width: 26px;
    height: 35px;
}

/* ************************* */

/* Header  */
.sp-game-header {
  color: rgb(34, 115, 255);
}


/* ************************* */

/* Lives / Hangman  */
section .lives {
  text-align: center;
  vertical-align: middle;
  line-height: 3em;       /* The same as your div height */
  font-size: 3em;
}

/* Add  */
.heart {
    color: red;
    animation: animateHeart 1.2s infinite;
}

/* Heartbeat animation */
@keyframes animateHeart {
    /* scale down and scale up faster in irregular intervals to get the throbbing effect */
    0% {
      transform: scale(0.8);
    }
    5% {
      transform: scale(0.9);
    }
    10% {
      transform: scale(0.8);
    }
    15% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(0.8);
    }
}

/* ************************* */
/* Possible characters to choose from */
.disabledCharacter {
  display: inline-flex;
  background-color: #706f6f;
  border-radius: 4px;
  padding: 10px;
  margin: 20px;
}

.disabledCharacter:hover {
  animation: rotation 0.5s ease-in-out;
}

/* Rotate animation */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.activeCharacter {
    border: 2px solid blue;
    display: inline-flex;
    background-color: #f7f5f5;
    border-radius: 4px;
    padding: 10px;
    margin: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5em;
    transition: all .22s ease-in-out; 
}

.activeCharacter:hover {
    transform: scale(1.3); 
}

/* ************************* */

/* Character Included/Excluded? */
.char-included, .char-excluded {
  margin-bottom: 1px;
}

.char-included {
  color: green;
}

.char-excluded {
  color: red;
}



/* ************************* */

/* Hints */
.hint {
  font-style: italic;
}

/* ************************* */

/* Skills */

.sp-game-skills {
  float: right;
  margin: 10px;
  color: black;
  cursor: pointer;
}